## EQUAL-WEIGHT S&P 500 INDEX FUND
S&P 500 is the world's most popular stock market index. THe largest fund that is benchmarked to this index is the SPDR S&P 500 ETF Trust.

### Objective
Create a python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

### Equal-weight
A type of weighting that gives same weight, or importance, to each stock in a portfolio or index fund
e.g smallest companies are given equal weight to largest companies in an equal-weight index fund or portfolio, regardless of size of company or sector.

In [1]:
!pip install numpy
!pip install pandas
!pip install xlsxwriter

Requirement already satisfied: numpy in /Users/anaistang/.virtualenvs/web/lib/python3.8/site-packages (1.20.3)
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Users/anaistang/.virtualenvs/web/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: pandas in /Users/anaistang/.virtualenvs/web/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /Users/anaistang/.virtualenvs/web/lib/python3.8/site-packages (from pandas) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/anaistang/.virtualenvs/web/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/anaistang/.virtualenvs/web/lib/python3.8/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/anaistang/.virtualenvs/web/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Users/anaistang/.virtualenvs/web/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: xlsxwriter in /Users/anaistang/.virtualenvs/web/lib/python3.8/site-packages (1.4.3)
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Users/anaistang/.virtualenvs/web/bin/python -m pip install --upgrade pip' command.

In [7]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing list of stocks 
Importing constituents of the S&P 500

Constituents change over time, so in an ideal world you would connect directly to the index provider e.g (Standard and Poor's) and pull their real-time constituents on a regular basis.

In [9]:
stocks = pd.read_csv('starter/sp_500_stocks.csv')
stocks.head(11)

   Ticker
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
5     ABC
6    ABMD
7     ABT
8     ACN
9    ADBE
10    ADI

## Acquiring API token from IEX Cloud API token 
https://cloud.iexapis.com/

In [10]:
from starter.secrets import IEX_CLOUD_API_TOKEN
print(IEX_CLOUD_API_TOKEN)

Tpk_c2ab9004d60340108c152c28159204f0

## Making API call to IEX Cloud 
- Market capitalisation for each stock 
- Price of each stock

In [11]:
symbol = 'IBM'
# Real-time stock prices
base_url = 'https://sandbox.iexapis.com'
query_params = f'?token={IEX_CLOUD_API_TOKEN}'
api_call = f"{base_url}/stable/stock/{symbol}/quote{query_params}"
print(api_call)
data = requests.get(api_call)
response = data.json()

https://sandbox.iexapis.com/stable/stock/IBM/quote?token=Tpk_c2ab9004d60340108c152c28159204f0

In [12]:
price = response['latestPrice']
market_cap = response['marketCap']
print(price, market_cap/100000000)

152.98 1381.59898344

## Adding stocks data to a pandas data frame (tabular data)

### Pandas Series
 - One dimensional labelled array 
 - Axis labels are called index 
 - Pandas series is a column in an excel sheet
 - Can only contain single list with index
 
 ### Dataframe
 - Can be made of more than one series
 - Dataframe is collection of series that can be used to analyse data

In [13]:
columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
df = pd.DataFrame(columns=columns)
# every row, column is a pandas series 
# initialising dataframe and append a pandas series (a list, numpy array, dict can be turned into pandas series)
df.append(
    pd.Series(
        [
    symbol, 
    price, 
    market_cap, 
    'N/A'
        ],
    index=columns
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0    IBM       152.98          138159898344                     N/A

In [14]:
# looping through tickers in list of stocks 
df = pd.DataFrame(columns=columns)
for stock in stocks['Ticker'][:5]:
    base_url = 'https://sandbox.iexapis.com'
    query_params = f'?token={IEX_CLOUD_API_TOKEN}'
    api_call = f"{base_url}/stable/stock/{stock}/quote{query_params}"
    # slow, next iteration do batch requests
    data = requests.get(api_call).json()
    df = df.append(
        pd.Series(
            [
            stock, 
            data['latestPrice'],
            data['marketCap'],
            'N/A'
            ],
             index=columns,
        ),
        ignore_index=True,
    )
df

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      A      140.540           42607590725                     N/A
1    AAL       25.300           15757163500                     N/A
2    AAP      200.806           13253084655                     N/A
3   AAPL      131.854         2163909534713                     N/A
4   ABBV      116.240          204375763797                     N/A

## Using Batch API Calls to Improve Performance
- Easiest ways to improve performance of code
- HTTP requests are typically slowest components of a script 
- API providers will often give discounted rates for using batch API calls since they are easier for API provider to respond to 
- IEX cloud limits batch API calls to 100 tickers per request

In [15]:
# generator yields one item at a time, generates only when in demand 
# list comp, python reserves memory for whole list, list comp will create entire list in memory first
# generators don't support indexing or slicing and cannot be added to lists
# generators should be used if iterating once, memory efficient
# if you want to store and use generated results, better off with list comp, list comp is fater
def chunks(lst, n):
    """Yield successive n-sized chunks from list"""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [19]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for index, symbol in enumerate(symbol_groups):
    symbol_strings.append(','.join(symbol))
    
df = pd.DataFrame(columns=columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        df = df.append(
        pd.Series(
        [
            symbol, 
            data[symbol]['quote']['latestPrice'],
            data[symbol]['quote']['marketCap'],
            'N/A'
        ],
        index=columns
           # Do not use index values on concatenation axis
        ),ignore_index=True)
df

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      139.160           44071740979                     N/A
1      AAL       24.320           16230444829                     N/A
2      AAP      206.390           13350309381                     N/A
3     AAPL      129.591         2185901123201                     N/A
4     ABBV      116.110          203797680950                     N/A
..     ...          ...                   ...                     ...
500    YUM      122.100           36269300896                     N/A
501    ZBH      164.280           34138312836                     N/A
502   ZBRA      513.581           27191504743                     N/A
503   ZION       59.802            9717307152                     N/A
504    ZTS      182.410           83965698159                     N/A

[505 rows x 4 columns]

In [21]:
portfolio_size = input('Enter value of portfolio:\n')
try:
    val = float(portfolio_size)
except ValueError:
    print('Please enter an integer')
    portfolio_size = input('Enter value of portfolio:\n')
    val = float(portfolio_size)

Enter value of portfolio:
11000000000

In [23]:
position_size = val/len(df.index)
# number_of_apple_shares = position_size/500
# math.floor(number_of_apple_shares)
for i in range(0, len(df.index)):
    df.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/df.loc[i, 'Stock Price'])
# df.head(15)

   Ticker  Stock Price Market Capitalization Number of Shares to Buy
0       A      139.160           44071740979                  156526
1     AAL       24.320           16230444829                  895648
2     AAP      206.390           13350309381                  105538
3    AAPL      129.591         2185901123201                  168084
4    ABBV      116.110          203797680950                  187599
5     ABC      120.090           24293924914                  181382
6    ABMD      299.530           13291315744                   72721
7     ABT      111.630          197828612614                  195128
8     ACN      284.030          192543565181                   76689
9    ADBE      517.520          254615792778                   42089
10    ADI      171.890           61630183435                  126721
11    ADM       69.030           39667905087                  315546
12    ADP      203.610           88294683475                  106979
13   ADSK      283.900           62775436557                   76724
14    AEE       88.900           22589960110                  245018

In [56]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')
df.to_excel(writer, 'recommended_trades', index=False)

## Creating formats for `.xlsx` file 
- String format for tickers
- £XX.XX format for stock prices 
- £XX.XX format for market capitalisation 
- Integer format for number of shares to purchase

In [57]:
background_colour = '#0a0a23'
font_colour = '#ffffff'

string_format = writer.book.add_format(
        {
            "font_color": font_colour,
            "bg_color":background_colour,
            "border":1
            
        }
)

sterling_format = writer.book.add_format(
        {
            "num_format": "£0.00",
            "font_color": font_colour,
            "bg_color": background_colour,
            "border": 1
        }
)

integer_format = writer.book.add_format(
        {
            "num_format" : "0",
            "font_color":font_colour,
            "bg_color": background_colour,
            "border": 1,
        }
)

In [58]:
# writer.sheets['recommended_trades'].set_column('A:A', 18, string_format)
# writer.save()
writer.sheets['recommended_trades'].write('A1', 'Ticker', string_format)
writer.sheets['recommended_trades'].write('B1', 'Stock Price', sterling_format)
writer.sheets['recommended_trades'].write('C1', 'Market Capitalisation', string_format)
writer.sheets['recommended_trades'].write('D1', 'Number of Shares to Buy', string_format)

0

In [62]:
column_format = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', sterling_format],
    'C': ['Market Capitalisation', sterling_format],
    'D': ['Number of Shares to Buy', integer_format]
} 

for column in column_format.keys():
    writer.sheets['recommended_trades'].set_column(f'{column}:{column}', 18, column_format[column][1])
    writer.sheets['recommended_trades'].write(f'{column}1', column_format[column][0], column_format[column][1])
# saving excel file 
writer.save()